
@font-face {
  font-family: 'MillerText-Italic';
  src: url('MillerText-Italic.eot?#iefix') format('embedded-opentype'),  url('MillerText-Italic.woff') format('woff'), url('MillerText-Italic.ttf')  format('truetype'), url('MillerText-Italic.svg#MillerText-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
