
@font-face {
  font-family: 'MillerDisplay-Italic';
  src: url('MillerDisplay-Italic.eot?#iefix') format('embedded-opentype'),  url('MillerDisplay-Italic.woff') format('woff'), url('MillerDisplay-Italic.ttf')  format('truetype'), url('MillerDisplay-Italic.svg#MillerDisplay-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
