body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
p.ParaOverride-1 {
	margin-top:3px;
}
p.ParaOverride-2 {
	margin-top:5px;
}
p.ParaOverride-3 {
	margin-left:14px;
	margin-top:9px;
}
p.ParaOverride-4 {
	margin-left:14px;
	margin-top:5px;
}
p.ParaOverride-5 {
	text-align:right;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Real Text OT (OTF) Bold", sans-serif;
	font-size:38px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Real Text OT (OTF) Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#78bf60;
	font-family:"Real Text OT (OTF) Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Real Text OT (OTF) Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Real Text SC Offc Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-6 {
	color:#4e4d4d;
	font-family:"Real Text Offc", sans-serif;
	font-size:19px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#666766;
	font-family:"Real Text OT (OTF) Bold", sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#4e4d4d;
	font-family:"Real Text Offc Medium", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-9 {
	color:#4e4d4d;
	font-family:"Real Text Offc Medium", sans-serif;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-10 {
	font-family:"Real Text OT (OTF)", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#666766;
	font-family:"Real Text Offc", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#666766;
	font-family:"Real Text Offc Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-13 {
	color:#4e4d4d;
	font-family:"Real Text OT (OTF) Light", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#4e4d4d;
	font-family:"Real Text OT (OTF) Medium", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#666766;
	font-family:"MillerDisplay-Italic", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#4e4d4d;
	font-family:"Real Text OT (OTF) Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"Real Text OT (OTF) Light", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:250px;
	width:648px;
}
#_idContainer001 {
	display:inline-block;
	height:25px;
	position:relative;
	width:179px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:265.52px;
	z-index:0;
}
#_idContainer003 {
	-ms-transform:translate(1.000px,45.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.000px,45.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.04px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.000px,45.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.000px,45.600px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.96px;
	z-index:1;
}
#_idContainer004 {
	display:inline-block;
	height:83px;
	position:relative;
	width:266px;
}
#_idContainer005, #_idContainer006, #_idContainer026 {
	display:inline-block;
	height:27px;
	width:78px;
}
#_idContainer007 {
	display:inline-block;
	height:16px;
	width:65px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:26.02px;
	z-index:1;
}
#_idContainer009 {
	-ms-transform:translate(45.254px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(45.254px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.08px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(45.254px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(45.254px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:174.26px;
	z-index:0;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:219.51px;
	z-index:0;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,2.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2.077px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:25.99px;
	z-index:1;
}
#_idContainer012 {
	-ms-transform:translate(45.221px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(45.221px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.08px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(45.221px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(45.221px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.34px;
	z-index:0;
}
#_idContainer013 {
	-ms-transform:translate(0.032px,125.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.032px,125.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.032px,125.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.032px,125.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:231.57px;
	z-index:1;
}
#_idContainer014 {
	-ms-transform:translate(0.000px,0.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.29px;
	z-index:1;
}
#_idContainer015 {
	-ms-transform:translate(40.648px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(40.648px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.08px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(40.648px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(40.648px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:195.70px;
	z-index:0;
}
#_idContainer016 {
	-ms-transform:translate(4.605px,63.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(4.605px,63.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4.605px,63.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(4.605px,63.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:236.35px;
	z-index:2;
}
#_idContainer017 {
	display:inline-block;
	height:171px;
	position:relative;
	width:241px;
}
#_idContainer019 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.26px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:235.61px;
	z-index:0;
}
#_idContainer020 {
	-ms-transform:translate(148.105px,21.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(148.105px,21.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(148.105px,21.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(148.105px,21.016px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:81.71px;
	z-index:1;
}
#_idContainer021 {
	display:inline-block;
	height:39px;
	position:relative;
	width:236px;
}
#_idContainer024 {
	display:inline-block;
	height:0px;
	position:relative;
	width:503px;
}
#_idContainer027 {
	display:inline-block;
	height:27px;
	position:relative;
	width:78px;
}
#_idContainer028 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:79.92px;
	z-index:0;
}
#_idContainer029 {
	display:inline-block;
	height:14px;
	overflow:hidden;
	position:relative;
	width:80px;
}
#_idContainer030 {
	display:inline-block;
	height:337px;
	width:314px;
}
#_idContainer031 {
	display:inline-block;
	height:268px;
	position:relative;
	width:0px;
}
#_idContainer032 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:113.24px;
	z-index:0;
}
#_idContainer033 {
	-ms-transform:translate(0.015px,17.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.015px,17.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.34px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.015px,17.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.015px,17.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:192.24px;
	z-index:2;
}
#_idContainer034, #_idContainer044, #_idContainer054 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.02px;
	z-index:0;
}
#_idContainer035, #_idContainer045, #_idContainer055 {
	-ms-transform:translate(12.833px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(12.833px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(12.833px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.833px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.02px;
	z-index:1;
}
#_idContainer036, #_idContainer046, #_idContainer056 {
	-ms-transform:translate(25.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(25.666px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.02px;
	z-index:2;
}
#_idContainer037, #_idContainer047, #_idContainer057 {
	-ms-transform:translate(38.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(38.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(38.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.02px;
	z-index:3;
}
#_idContainer038, #_idContainer048, #_idContainer058 {
	-ms-transform:translate(51.333px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(51.333px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(51.333px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(51.333px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:11.02px;
	z-index:4;
}
#_idContainer039 {
	-ms-transform:translate(1.390px,54.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.390px,54.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.390px,54.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.390px,54.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:62.35px;
	z-index:3;
}
#_idContainer040 {
	-ms-transform:translate(70.667px,53.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.667px,53.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.26px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(70.667px,53.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.667px,53.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:51.56px;
	z-index:1;
}
#_idContainer041 {
	display:inline-block;
	height:66px;
	position:relative;
	width:192px;
}
#_idContainer042, #_idContainer052 {
	-ms-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:160.40px;
	z-index:0;
}
#_idContainer043 {
	-ms-transform:translate(0.000px,16.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,16.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.28px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,16.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,16.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:192.90px;
	z-index:2;
}
#_idContainer049 {
	-ms-transform:translate(1.390px,42.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.390px,42.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1.390px,42.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.390px,42.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:62.35px;
	z-index:3;
}
#_idContainer050 {
	-ms-transform:translate(71.135px,42.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(71.135px,42.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.26px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(71.135px,42.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(71.135px,42.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:51.56px;
	z-index:1;
}
#_idContainer051 {
	display:inline-block;
	height:54px;
	position:relative;
	width:193px;
}
#_idContainer053 {
	-ms-transform:translate(0.000px,15.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,15.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,15.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,15.611px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:198.82px;
	z-index:2;
}
#_idContainer059 {
	-ms-transform:translate(0.000px,29.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,29.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:11.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,29.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,29.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:62.35px;
	z-index:3;
}
#_idContainer060 {
	-ms-transform:translate(69.744px,29.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(69.744px,29.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:12.26px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(69.744px,29.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(69.744px,29.003px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:51.56px;
	z-index:1;
}
#_idContainer061 {
	display:inline-block;
	height:41px;
	position:relative;
	width:199px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#f2bf24;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-color:#78bf60;
	border-style:solid;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-width:1px;
}
div._idGenObjectStyleOverride-4 {
	border-color:#b3b4b3;
	border-width:1px;
}
div._idGenObjectStyleOverride-5 {
	border-color:#666766;
	border-width:1px;
}
div._idGenObjectStyleOverride-6 {
	border-color:#7f8080;
	border-width:1px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#f2c022;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
